<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">
<head>
  <title>HOME PAGE</title>
</head>
<div layout:fragment="content">
  <form action="/add-student" method="post">
    <input type="text" name="name" placeholder="insert name..."><br>
    <input type="text" name="surname" placeholder="insert surname..."><br>
    <input type="number" name="exam" placeholder="insert exam..."><br>
    <button>ADD STUDENT</button>
  </form>
  <br>
  <hr>
  <br>
  <form action="/add-student-alt" method="post">
    <input type="text" name="name" placeholder="insert name..."><br>
    <input type="text" name="surname" placeholder="insert surname..."><br>
    <input type="number" name="exam" placeholder="insert exam..."><br>
    <button>ADD STUDENT ALT</button>
  </form>
</div>
</html>